<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./partials/header %>
  </head>
  <body>
        <!-- Navigation-->
        <% include ./partials/navmenu %>

        <!-- About me Section-->
        <section class="portfolio">
          <div class="container">

            <h1> About Me Page </h1>

          </div>
        </section>


    <!--Footer-->
    <% include ./partials/footer %>

  </body>
</html>
