<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./partials/header %>
  </head>
  <body>
    <!-- Navigation-->
    <% include ./partials/navmenu %>

        <!--Portfolio Grid Section-->
        <section class="portfolio">
          <div class="container">

            <h1> Welcome </h1>

            <h3> I'm  <%= name %>  </h3>

            <a href="/about"> <p> To know more About me </p> </a>


          </div>
        </section>


    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
