<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/about" > ABOUT </a> <br />
    <a href="/contact" > CONTACT </a> <br />
    <a href="/projects" > PROJECTS </a> <br />
    <a href="/services" > SERVICES </a> <br />
  </body>
</html>
